annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.2.0
greenlet==3.1.1
idna==3.7
mypy==1.14.1
mypy-extensions==1.0.0
psycopg2-binary==2.9.9
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
python-dotenv==1.0.1
requests==2.32.0
ruff==0.9.0
setuptools==75.8.0
six==1.16.0
SQLAlchemy==2.0.21
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.2.2
vk==3.0
wheel==0.45.1
